<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Планета</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<img class="bg" src="images/bg.svg" alt="Фоновое изображение">
		<div class="menu">
			<a href="#" class="logo">
				<img src="images/planet.svg" alt="Планета">
				<span>Планета!</span>
			</a>
			<div class="nav">
				<a href="#plants">
					<img src="images/plant.svg" alt="Растение">
				</a>
				<a href="#news">
					<img src="images/news.svg" alt="Новости">
				</a>
				<a href="#recycle">
					<img src="images/recycle.svg" alt="Переработка">
				</a>
				<a href="#form">
					<img src="images/fire.svg" alt="Земля в огне">
				</a>
			</div>
		</div>
		<div class="header container">
			<h1 class="header-title">Наша планета</h1>
			<div class="planet-facts">
				<div class="facts-left">
					<h2 class="left-title">Несколько фактов о нашей планете</h2>
				</div>
				<div class="facts-right">
					<ul class="right-content">
						<li>Это наш дом</li>
						<li>Это дом братьев наших меньших</li>
						<li>Она требует бережного отношения</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="gallery container" id="plants">
			<h2 class="section-title">
				А что такое растения?
				<img class ="title-icon"src="images/plant.svg" alt="plant-emoji">
			</h2>
			<div class="gallery-content">
				<div class="gallery-item">
					<img src="images/plant0.jpg">
					<p class="gal-item-text">Растение - это...</p>
					<p class="gal-item-text"> ...дыхание</p>
				</div>

				<div class="gallery-item">
					<img src="images/plant1.jpg">
					<p class="gal-item-text">Растение - это...</p>
					<p class="gal-item-text"> ...изящество</p>
				</div>

				<div class="gallery-item">
					<img src="images/plant2.jpg">
					<p class="gal-item-text">Растение - это...</p>
					<p class="gal-item-text"> ...жизнь</p>
				</div>

				<div class="gallery-item">
					<img src="images/plant3.jpg">
					<p class="gal-item-text">Растение - это...</p>
					<p class="gal-item-text"> ...уют</p>
				</div>

				<div class="gallery-item">
					<img src="images/plant4.jpg">
					<p class="gal-item-text">Растение - это...</p>
					<p class="gal-item-text"> ...искусство</p>
				</div>
			</div>
		</div>

		<div class="about container" id="news">
			<h2 class="section-title">
				Где узнать об экологии?<img class ="title-icon"src="images/news.svg" alt="plant-emoji">
			</h2>
			<div class="about-content">
				<p class="about-content-item ab-item1">Интернет</p>
				<p class="about-content-item ab-item2">Мероприятия</p>
				<p class="about-content-item ab-item3">Друзья</p>
			</div>
		</div>

		<div class="recycle-info container" id="recycle">
			<h2 class="section-title">
				Узнать об экологичном образе жизни 
				<img class ="title-icon" src="images/recycle.svg" alt="plant-emoji">
			</h2>
			<div class="recycle-content">
				<div class="recycle-content-img">
					<img src="images/bottle.svg" alt="icon">
				</div>
				<p class="recycle-text">
					Если вы начали или планируете сортировать отходы, стоит разобраться, что можно сдавать на переработку в вашем городе, а что нет. Гринпис сделал краткий гид, который поможет понять, что значат цифры или буквы в треугольниках на упаковке и товарах. <br>
					Треугольники на упаковке с цифрами внутри — ваш верный помощник. Цифра помогает понять, какой это вид упаковки и можно ли его сдать на переработку. Буквенная аббревиатура под треугольникам обозначает тип материала, например PP (полипропилен) или GL (стекло).
				</p>
			</div>
		</div>

		<div class="form container" id="form">
			<h2 class="section-title">Давай беречь планету вместе!<img class ="title-icon" src="images/fire.svg"></h2>
			<form class = "contact-form" action="#">
				<input type="text" placeholder="Имя">
				<input type="email" placeholder="Почта">
				<button>Подписаться на рассылку</button>
			</form>
		</div>
	</body>
</html>